body{
    font-family: 'Poppins',sans-serif;

}
p{
    font-weight: semibold;
}
h2{
    font-size:3rem ;
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;

    /* font: italic small-caps 700 3rem/1.2 'Poppins', sans-serif; */
}



