body {
  font-family: 'Poppins', sans-serif;
}

h2,
p{
margin: 0;
}

.box{
 background-color: coral;
 max-width: 400px;
 margin: 20px;
 padding:20px ;
}
.box h2{
  margin-bottom: 10px;
}
.box-2{
   margin-top: 20px;
   margin-right: 30px;
   margin-bottom: 40px;
   margin-left: 50px;
   /*T-R-B-L*/

}

/*Negative Margin*/

.box-3{
  margin-left: -30px;/*try to avoid negative margin*/
}
/*auto margin*/

.box-1{
  margin: 100px auto;
}


